
.icon-doc:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-floppy:before { content: '\e804'; } /* '' */
.icon-wrench:before { content: '\e805'; } /* '' */
.icon-scissors:before { content: '\e806'; } /* '' */
.icon-folder-open:before { content: '\e807'; } /* '' */
.icon-folder:before { content: '\e808'; } /* '' */
.icon-export:before { content: '\e809'; } /* '' */
.icon-video:before { content: '\e80a'; } /* '' */
.icon-forward:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-th:before { content: '\e80d'; } /* '' */
.icon-shuffle:before { content: '\e80e'; } /* '' */
.icon-zoom-in:before { content: '\e80f'; } /* '' */
.icon-arrow-curved:before { content: '\e810'; } /* '' */
.icon-cursor:before { content: '\e811'; } /* '' */
.icon-print-1:before { content: '\e812'; } /* '' */
.icon-ccw:before { content: '\e813'; } /* '' */
.icon-cw:before { content: '\e814'; } /* '' */
.icon-chart-bar-1:before { content: '\e815'; } /* '' */
.icon-magnet:before { content: '\e816'; } /* '' */
.icon-attach:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-target:before { content: '\e81a'; } /* '' */
.icon-wrench-1:before { content: '\e81b'; } /* '' */
.icon-wrench-circled:before { content: '\e81c'; } /* '' */
.icon-gift:before { content: '\e81d'; } /* '' */
.icon-github-1:before { content: '\e81e'; } /* '' */
.icon-doc-new:before { content: '\e81f'; } /* '' */
.icon-doc-new-circled:before { content: '\e820'; } /* '' */
.icon-edit:before { content: '\e821'; } /* '' */
.icon-text-width:before { content: '\e822'; } /* '' */
.icon-text-height:before { content: '\e823'; } /* '' */
.icon-italic:before { content: '\e824'; } /* '' */
.icon-font:before { content: '\e825'; } /* '' */
.icon-print:before { content: '\e826'; } /* '' */
.icon-down-big:before { content: '\e827'; } /* '' */
.icon-left-big:before { content: '\e828'; } /* '' */
.icon-right-big:before { content: '\e829'; } /* '' */
.icon-up-big:before { content: '\e82a'; } /* '' */
.icon-arrows-cw:before { content: '\e82b'; } /* '' */
.icon-shuffle-1:before { content: '\e82c'; } /* '' */
.icon-bookmark2:before { content: '\e82d'; } /* '' */
.icon-indent-left:before { content: '\e82e'; } /* '' */
.icon-indent-right:before { content: '\e82f'; } /* '' */
.icon-pin:before { content: '\e830'; } /* '' */
.icon-tag:before { content: '\e831'; } /* '' */
.icon-book-open:before { content: '\e832'; } /* '' */
.icon-target-1:before { content: '\e833'; } /* '' */
.icon-record:before { content: '\e834'; } /* '' */
.icon-pause-circled:before { content: '\e835'; } /* '' */
.icon-gauge:before { content: '\e836'; } /* '' */
.icon-braille:before { content: '\e837'; } /* '' */
.icon-align-center:before { content: '\e838'; } /* '' */
.icon-pm:before { content: '\e839'; } /* '' */
.icon-theatre:before { content: '\e83a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-data-science-inv:before { content: '\f017'; } /* '' */
.icon-movie:before { content: '\f040'; } /* '' */
.icon-vector:before { content: '\f045'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-print-2:before { content: '\f087'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-opera:before { content: '\f26a'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */
.icon-superpowers:before { content: '\f2dd'; } /* '' */
.icon-chart-bar:before { content: '\f526'; } /* '' */