@font-face {
font-family: 'ChunkFiveRegular';
src: url('Chunkfive-webfont.eot');
src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
url('Chunkfive-webfont.woff') format('woff'),
url('Chunkfive-webfont.ttf') format('truetype'),
url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
font-weight: normal;
font-style: normal;
}


h1{
font-family: 'Arial', cursive;
font-weight: 400;
line-height: 1.1;
color: #48ca3b;
}
.btn{
background-color: #222244; 
color: #00ffff; 
border-radius: 24px; 
font-size: 12px;
}
.backPanel{
background-color: #4f6a8c; 
padding-top: 0;
padding-bottom: 0;
margin-top: 0; 
margin-bottom: 0;
margin-left:10;
margin-right:10;
top:0;
bottom:0;
right:10px;
left:10px;
overflow: hidden;
}
.checkbox{
  margin: 0;
}
.topHeadPanel{
  position: absolute;
  top:40px;
  bottom:140px;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 0;
}
.topHeadTibEdit{
  position: absolute;
  top:30px;
  left: 0;
  right: 0;
  bottom: 100px;
}
.topHeadCol1{
  position: absolute;
  left: 5px;
  width:90px;
}
.topHeadCol2{
  position: absolute;
  left: 120px;
  right: 10px;
}
.topHeadRow1{
  position: absolute;
  top: 0;
}
.topHeadRow2{
  position: absolute;
  top: 32px;
}
.height30{
  height:30px;
}
.height64{
  width:64px;
}
.cMidPanel{
  position: absolute;
  top:140px;
  bottom:40px;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 10px;
}
.cSvgOut{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border: 3px solid blue;
  background-color: #DDBBFF;
  overflow: hidden;
}
.cSvgOutLeftIndent{
  left:62px;
}
.cSvgOutRightIndent{
  right:62px;
}
.cRowOut{
  position: absolute;
  top:0;
  bottom:0;
  left: 4px;
  width: 54px;
  border: 3px solid blue;
  background-color:#222244;
  overflow: hidden;  
}
.cLogText{
  top:125px; 
  left:20px; 
  right:20px;  
  bottom:40px;
  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  border: 3px solid darkblue;
  overflow: auto;
  background-color: white;
}
.footerPanel{
  bottom:5px;
  left:20px; 
  width:100%;
  margin:0px; 
  padding:0px;
}
.headerPanel{
background-color: #8888AA; 
border-color: #88AAAA; 
top:75px; 
height: 70px;
width: 100%;
left:0; 
padding-top: 0; 
padding-bottom: 0; 
padding-left: 20px; 
font-size:12px; 
width:100%;
overflow: hidden;
display: inline-block;
}
.controlBackPanel{
background-color: #8888AA; 
border-color: #88AAAA; 
margin-top: 0; 
margin-bottom: 0; 
padding-top: 0; 
padding-bottom: 0; 
font-size:12px; 
padding-left: 2px;
padding-right: 2px;
display: inline-block;
overflow: hidden;
}
.nav-tabs>li.active>a{
background-color: #111122; 
font-weight: bold;
color: #44ffff; 
}
.nav-tabs>li>a{
background-color: #222244; 
color: #00ffff; 
}
.selectize-input{
overflow-y: auto;
}
.radio-bs label{
  color: #00ffff;
}
.ptR2 .selectize-input,  
.ptR2 .selectize-input input,
.ptR2 .selectize-control.single { 
  height: 33px;
  font-size: 14px;
  background-color: #222244;
  color: #00ffff; 
  width: 110px;
}
#tagValBar-entryValue .formControl.selectized {
  width:260px;
}
.ptR2 .selectize-dropdown { 
  font-size: 12px;  
  line-height: 12px;
  background-color: #22AAAA; 
  padding: 2px;
}
.ptR2 .selectize-input.full {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 33px;
   width: 110px;
   overflow: hidden;
}
.ptRBtn2 .btn{
background-color: #222244; 
color: #00ffff; 
border-radius: 0px; 
font-size: 12px;
width: 110px;
}
.cSnippetToolBarList {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  bottom:0;
}
.cRowSelectionList {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 54px;
  top:0;
  left:0;
}
.cSnippetToolBarContainer{
  position: absolute;
  top:140px;
  bottom:40px;
  right: 5px;
  width: 54px;
  padding:0;
  margin:0;
  border: 3px solid blue;
  background-color:#222244;
  overflow: hidden; 
}
.snippetButton{
  list-style-type: none;
  width: 48px;
  height: 32px;
  /*padding: 0.25em;*/
  float: left;
  /*left: 0;*/
  /*padding-left: 3px; */
  padding: 0;
  margin: 0 ;
  border-style: solid;
  border-width: 1px;
  background: #222244;
  color: #44DDDD;
}
.cTop{
  position: absolute;
  top: 0;
  border-width: 4px;
  border-style: ridge;
  color: white;
  background: #0000CC;
}
.cBottom{
  position: absolute;
  bottom: 0;
  color: white;
  border-width: 4px;
  border-style: ridge;
  background: #0000CC;
}
.center {
    padding:4px;
    text-align: center;
}


/*#tagValBar-columnEntryUI{
  height: 30px;
  margin-top: -20px;
  padding:0px;

div.sp-replacer {
  height: 32px;
  margin-top: -10px;
  padding:0px;
}
.preview-inner {
  margin-top: -10px;
}
}*/
/* div.radio.ui-sortable-handle label span */
input[type='radio']{
  color:red;
  background-color: yellow;
}

div .radio .ui-sortable-handle{
  color: #44FFFF;
  background-color: #242424;
  width: 45px; 
  margin: 2px;
  padding-left: 4px;
  border: 1px solid #44FFFF;
}

div .radio {
  color: #44FFFF;
  background-color: #242424;
  width: 45px; 
  margin: 0;
  padding-left: 4px;
  border: 1px solid #44FFFF;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #448888;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #44FFFF;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

